<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        p {
            width: 200px;
            height: 200px
        }
    </style>
    <script src="angular.js"></script>
</head> 

<body ng-app ng-init="msg1=0;msg2=0">
    <input type="text" name="t1" ng-model="msg1">
    <span>+</span>
    <input type="text" name="t2" ng-model="msg2">
    <p id="p1">{{(msg1-0)+(msg2-0)}}</p>
</body>

</html>