//px => rem
$browser-default-font-size: 20px;
$coefficient:2;
@function pxTorem($px) {
    @return ($px/$browser-default-font-size) / $coefficient * 1rem;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.clearfix {
    zoom: 1;
}

html {
    font-size: $browser-default-font-size;
}

header {
    width: 100%;
    height: pxTorem(89px);
    border-bottom: pxTorem(1px) solid #46c9b9;
    background: #262626;
    position: relative;
    text-align: center;
    .menu {
        width: pxTorem(63px);
        height: pxTorem(57px);
        background: url(../img/top1.png);
        background-size: contain;
        position: absolute;
        top: pxTorem(16px);
        left: pxTorem(16px);
    }
    .topc {
        width: pxTorem(58px);
        height: pxTorem(50px);
        background: url(../img/top2.png);
        background-size: contain;
        position: absolute;
        top: pxTorem(21px);
        right: pxTorem(16px);
    }
    span {
        font-size: pxTorem(40px);
        line-height: pxTorem(89px);
        color: white;
    }
}

.login_resi {
    @extend .clearfix;
    background: #fafafa;
    position: relative;
    div {
        width: pxTorem(320px);
        height: pxTorem(82px);
        border-bottom: pxTorem(1px) solid #e1e1e1;
        border-top: pxTorem(1px) solid #e1e1e1;
        float: left;
        position: relative;
        img{
            position: absolute;
            width: pxTorem(58px);
            height: pxTorem(58px);
            top: pxTorem(17px);
            left: pxTorem(58px);
        }
        span{
            font-size: pxTorem(31px);
            line-height: pxTorem(82px);
            padding-left: pxTorem(137px);
        }
    }
    i{
        display: block;
        width: pxTorem(2px);
        height: pxTorem(60px);
        background: #e0e0e0;
        top: pxTorem(9px);
        left: calc(50% - 1px);
        position: absolute;
    }
}