* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  clear: both;
  content: "";
  display: block; }

.fl, .top {
  float: left; }

.top {
  width: 30px;
  height: 100px;
  background: red;
  margin-left: 10px; }

.bottom {
  width: 110px;
  height: 30px;
  background: blue;
  margin-left: 10px; }
