// 下划波浪线
@mixin waveline($color, $h) {
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: $h;
        background: linear-gradient(135deg, transparent, transparent 45%, $color, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, $color, transparent 55%, transparent 100%);
        background-size: $h * 2 $h * 2;
    }
}

//  文字的3D效果
@mixin threeDText($color) {
    text-shadow: 1px 1px $color, 2px 2px $color, 3px 3px $color, 4px 4px $color, 5px 5px $color, 6px 6px $color, 7px 7px $color, 8px 8px $color;
} //文字描边效果
@mixin strokeText($w, $color) {
    text-shadow: $w 0 0 $color, -$w 0 0 $color, 0 $w 0 $color, 0 -$w 0 $color;
}