*{
    margin:0;
    padding: 0;
}
.clearfix:after{
    clear: both;
    content: '';
    display: block;
}
.clearfix{
    zoom:1;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
ul,ol,li{
    list-style: none;
}
i,a{
    text-decoration: none;
    font-style: normal;
}

@mixin bgcolor($color){
    background: $color;
}
@mixin bgimg($url){
    background: url($url) no-repeat;
}

$inner_w: 1200px;
$inner_w2: 1228px;