@charset "utf-8";
/* CSS Document */
/*base css*/
*{
    margin: 0;
    padding: 0;
}
.clearfix{
    clear: both;
    content: "";
    display: block;
}
.clearfix{
    zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.inner{
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
/*-----------*/
.sheet_box{
    height: 2629px;
    width: 1000px;
}
.top_box{
    height: 37px;
    width: 976px;
    margin-top: 6px;
    margin-left: 14px;
    margin-right: 10px;
    margin-bottom: 8px;
}
.top_img1{
    height: 37px;
    width: 99px;
    border-right: 1px solid #cecece
}
.register{
    font-size: 12px;
    font-weight: bold;
    height: 37px;
    width: 68px;
    line-height: 37px;

}
.top_img2{
    height: 24px;
    width: 24px;
    background: url(../img/2.jpg) no-repeat;
    margin-right: 6px;
    margin-top: 5px;

}
.chongzhi{
    font-size: 12px;
    font-weight: bold;
    height: 37px;
    width: 79px;
    line-height: 37px;
}
.top_img3{
    height: 24px;
    width: 24px;
    background: url(../img/cyou_sprite.png) no-repeat -189px 0px;
    margin-right: 4px;
    margin-top: 5px;
    margin-left: 8px;
}
.changyou{
    font-size: 12px;
    font-weight: bold;
    height: 37px;
    width: 75px;
    line-height: 37px;
}
.top_img4{
    height: 24px;
    width: 24px;
    background: url(../img/cyou_sprite.png) no-repeat 0px -104px;
    margin-right: 4px;
    margin-top: 5px;
    margin-left: 4px;
}
.kefu{
    font-size: 12px;
    font-weight: bold;
    height: 37px;
    width: 53px;
    line-height: 37px; 
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece; 
    padding-left: 29px  
}
.top_img5{
    height: 5px;
    width: 7px;
    background: url(../img/cyou_sprite.png) no-repeat -206px -148px;
    margin-right: 17px;
    margin-top: 17px;
}
.all_game{
    font-size: 12px;
    font-weight: bold;
    height: 37px;
    width: 87px;
    line-height: 37px; 
    border-right: 1px solid #cecece; 
    padding-left: 25px      
}
.top_img5{
    height: 5px;
    width: 7px;
    background: url(../img/cyou_sprite.png) no-repeat -206px -148px;
    margin-top: 17px;
}
.top_box2{
    height: 5px;
    width: 1000px;
}
.navigation{
    width: 1000px;
    height: 551px;
    position: relative;
}
h1{
    height: 63px;
    width: 186px;
    background: url(../img/5.png);
    float: left;
    position: absolute;
    left: 0px;
    top: 21px;
}
.logo{
    width: 100%;
    height: 100%;
    text-indent: -999em;
    display: block;

}
.navigation_box{
    height: 109px;
    width: 811px;
    position: absolute;
    left: 187px;
    top: 0px;
}
.hanzi{
    font-size: 17px;
    color:#b6b6ba;
    /*float: left;*/
    font-weight: bold;
    /*text-align: center;*/
}
.english{
    font-size: 7px;
    color:#b6b6ba;
    /*float: left;*/
    /*text-align: center;*/
}
.home{
    height: 33px;
    width: 35px;
    margin-left: 51px;
    margin-top: 37px;
    text-align: center;
}
.news{
    height: 33px;
    width: 70px;
    margin-left: 27px;
    margin-top: 37px;
    text-align: center;
}
.item1{
    height: 33px;
    width: 70px;
    margin-left: 20px;
    margin-top: 37px;
    text-align: center;
}
.item2{
    height: 33px;
    width: 70px;
    margin-left: 18px;
    margin-top: 37px;
    text-align: center;

}
.pendant1{
    width: 31px;
    height: 122px;
    position: absolute;
    top:245px;
    left: 0px;
}
.navigation2{
    width: 1000px;
    height: 109px;
    background: #1a1d22;
}
.scr_menu{
    width: 617px;
    height: 109px;
    /*background: url(../img/sprite.jpg)  no-repeat 0px 0px;    */
}
.scr_menu1{
    background: url(../img/sprite.jpg)  no-repeat;
    height: 110px;
    width: 216px;
}
.scr_menu2{
    background: url(../img/sprite.jpg)  no-repeat -216px 0px;
    height: 110px;
    width: 100px;
}
.scr_menu3{
    background: url(../img/sprite.jpg)  no-repeat -316px 0px;
    height: 110px;
    width: 100px;
}
.scr_menu4{
    background: url(../img/sprite.jpg)  no-repeat -416px 0px;
    height: 110px;
    width: 100px;
}
.scr_menu5{
    background: url(../img/sprite.jpg)  no-repeat -516px 0px;
    height: 110px;
    width: 100px;
}
.scr_menu1:hover{
    background: url(../img/sprite.jpg)  no-repeat 0px -110px;
    height: 110px;
    width: 216px;
}
.scr_menu2:hover{
    background: url(../img/sprite.jpg)  no-repeat -216px -110px;
    height: 110px;
    width: 100px;
}
.scr_menu3:hover{
    background: url(../img/sprite.jpg)  no-repeat -316px -110px;
    height: 110px;
    width: 100px;
}
.scr_menu4:hover{
    background: url(../img/sprite.jpg)  no-repeat -416px -110px;
    height: 110px;
    width: 100px;
}
.scr_menu5:hover{
    background: url(../img/sprite.jpg)  no-repeat -516px -110px;
    height: 110px;
    width: 100px;
}
.navi2_box{
    width: 383px;
    height: 66px;
    background:#221c20;
    position: relative;
}
.navi2_img{
    width: 361px;
    height: 55px;
    margin-top: 7px;
    margin-left: 13px;
    margin-bottom: 3px;
}
.navi2_text1{
    font-size: 14px;
    color: #9faace;
    position: absolute;
    left: 90px;
    top: 15px;

}
.navi2_text1 span{
    color: red;
}
.navi2_text2{
    font-size: 14px;
    color: #9faace;
    position: absolute;
    left: 90px;
    bottom: 13px;

}
.navi2_text2 span{
    color: red;
}
.navi2_box2{
    width: 381px;
    height: 43px;
    background: url(../img/sprite.jpg) no-repeat 0px -221px;
    border-right: 3px solid black;
}
.navi2_text3{
    font-size: 12px;
    color: #adb9e0;
    margin-top: 15px;
    margin-left: 6px;
}
.navi2_text3 span{
    color: red;
}
.navi2_mark{
    height: 14px;
    width: 13px;
    margin-left: 2px;
    margin-top: 15px;
    background: url(../img/sprite.jpg) no-repeat -603px -227px;
}
.navi2_text4{
    font-size: 12px;
    color: #adb9e0;
    margin-top: 15px;
    margin-left: 30px;
}
.main{
    width: 1000px;
    height: 305px;
}
.main_img{
    height: 305px;
    width: 617px;
    position: relative;
    background: url(../img/main_a1.jpg) no-repeat;
}
.main_img ul{
    position: absolute;
    left: 520px;
    top: 280px;
}
.main_img_li{
    background: #3a3e47;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-left: 3px;
    float: left;
}
.main_img_li:hover{
    background: #d0290a;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-left: 3px;
    float: left;
}
.main_img .slider1{
    width: 27px;
    height: 63px;
    position: absolute;
    left: 13px;
    top:11px;
}
.main_img .slider2{
    width: 27px;
    height: 63px;
    position: absolute;
    left: 13px;
    top:84px;
}
.main_text{
    height: 305px;
    width: 383px;

}
.main_menu{
    width: 382px;
    height: 59px;
    background: url(../img/sprite.jpg) no-repeat 0px -261px;
    border: 1px solid black;
}
.main_li{
    color: #fff;
    font-size: 14px;
    padding: 0px 32px 0px 33px;
    border: 1px solid #000;
    line-height: 55px;
}
.main_li:hover{
        background: url(../img/7.jpg) no-repeat;
        cursor: pointer;
}
.main_content{
    width: 383px;
    height: 247px;
    background: #322e3f;
    position: relative;
}
.main_content1{
    width: 346px;
    height: 34px;
    background: url(../img/sprite.jpg) no-repeat 0px -378px;
    margin-top: 17px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 11px;
}
.main_content1 span{
    color: red;
    font-size: 15px;
    line-height: 34px;
    padding: 0px 42px 0px 40px;
}
.main_content1_li{
    font-size: 12px;
    margin-left: 24px;
    margin-bottom: 9px;
    color: #9ca7ca;
}
.main_content_img{
    height: 13px;
    width: 13px;
    position: absolute;
    left: 296px;
    top:215px;
}
.moremoremore{
    position: absolute;
    left: 316px;
    top:215px;
    color: #9ca7ca;
    font-size: 12px;
}
.four_img{
    width: 1000px;
    height: 130px;
    background: #1c1b21;
    padding: 33px 0px 31px 0px;
}
.occupation{
    width: 1000px;
    height: 348px;
    position: relative;
    background: #1b1924;
    padding-bottom: 30px;
}
.occu_img{
    width: 131px;
    height: 60px;
    background: url(../img/sprite.jpg) no-repeat 0px -412px;
}
.occu_img:hover{
    width: 133px;
    height: 60px;
    background: url(../img/sprite.jpg) no-repeat 0px -471px;
}
.occupation img{
    width: 656px;
    height: 287px;
}
.occu_right{
    width: 323px;
    height: 348px;
    position: absolute;
    left: 676px;
    top: 0px;
}
.occu_mark{
    width: 28px;
    height: 30px;
    background: url(../img/sprite.jpg) no-repeat -628px 0px;
}
.occu_text{
    font-size: 18px;
    color: #f3ca90;
    margin-left: 13px;
    margin-top: 7px;
}
.occupation .occu_r1{
    width: 319px;
    height: 149px;
    margin-top: 19px;
    border: 1px solid #433b4f;
    margin-bottom: 10px;

}
.occu_r2{
    width: 320px;
    height: 25px;
    margin-bottom: 3px;
    background: url(../img/sprite.jpg) no-repeat 0px -530px;
}
.r2_span{
    font-size: 12px;
    color: #9ca7ca;
    margin-left: 27px;
    line-height: 25px;
}
.r2_span2{
    font-size: 12px;
    color: #9ca7ca; 
    line-height: 25px;
    margin-right: 11px; 
}
.player_data{
    width: 787px;
    height: 387px;
    position: relative;
    left: 213px;
    background:  #1b1821;
}
.player{
    width: 424px;
    height: 348px;
    margin-left: 19px;
}
.databox{
    width: 324px;
    height: 348px;
    margin-left: 18px;

}
.databox_img{
    width: 49px;
    height: 29px;
    background: url(../img/sprite.jpg) no-repeat -628px -40px;
}
.databox1{
    width: 322px;
    height: 303px;
    border: 1px solid #524e5d;
    background: #26212d;
}
.databox1_ul{
    padding: 0px 17px;
}
.databox1_li{
    background: url(../img/9.png) no-repeat;
    width: 78px;
    height: 26px;
    margin-top: 16px;
    padding-bottom: 22px;
    border-bottom: 1px dashed #4b3f5c;
    color: #fff;
    font-size: 14px
}
.databox1_li span{
    line-height: 26px;
    margin-left: 7px;
}
.databox2_li{
    border-bottom: 1px dashed #4b3f5c;

    font-size: 14px;
    padding-bottom: 22px;
    margin-top: 16px;
    line-height: 26px;
    padding-left: 3px;
    padding-right: 3px;
}
.databox2_li span{
    margin-top: 16px;
    border-right: 1px solid #4b3f5c;

    color: #9587ab;
    line-height: 26px;
}
.ziliaozhan{
    width: 280px;
    height: 35px;
    margin-left: 17px;
    margin-top: 3px;
    border: 1px solid #4b3f5c;
}
.ziliaozhan span{
    float: left;
    font-size: 20px;
    padding-left: 90px;
    line-height: 35px;
    color: #b1a1ca;
}

.play_img{
    width: 49px;
    height: 29px;
    background: url(../img/sprite.jpg) no-repeat -607px -350px;
}
.play_text,.databox_text{
    font-size: 19px;
    color: #f3ca90;
    padding-top: 7px;
}
.box321{
    width: 425px;
    height: 304px;
}
.box321_ul{
    height: 47px;
    width: 425px;
}
.box321_ul li{
    height: 45px;
    width: 81px;
    border-top: 1px solid #524e5d;
    border-left: 1px solid #524e5d;
    border-bottom: 1px solid #524e5d;
    float: left;
    background: #1a191f;
    font-size: 12px;
    line-height: 45px;
    padding-left: 24px;
    color: #a295b7;
}
.box321_ul li:hover{
    height: 45px;
    width: 81px;
    border-top: 1px solid #524e5d;
    border-left: 1px solid #524e5d;
    border-bottom: 1px solid #322b3c;
    float: left;
    background: #322b3c;
    font-size: 12px;
    line-height: 45px;
    padding-left: 24px;
    color: white;
    cursor: pointer;
}
.box321_div{
    width: 423px;
    height: 256px;
    background: #322b3c;
    border-bottom: 1px solid #524e5d;
    border-left: 1px solid #524e5d;
    border-right: 1px solid #524e5d;
}
.box321_div_img{
    width: 142px;
    height: 255px;
}
.box321_div_img img{
    margin-top: 23px;
    margin-left: 16px;
    float: left;
}
.box321_div_ul{
    width: 280px;
    height: 256px;
    color: #9ca7ca;
    font-size: 14px;
    margin-top: 23px;
}
.box321_div_ul li{
    margin-bottom: 14px;
    float: left;
}

.fest{
    width: 216px;
    height: 190px;
    position: relative;
    bottom: 387px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 22px;
    background: #1b1821;
}
.fest_bg{
    width: 216px;
    height: 190px;
    background:url(../img/bg.jpg)
}
.fest_main{
    font-size: 14px;
    height: 40px;
    width: 214px;
    border: 1px solid #524e5d;
    color: #f3ca90;
}
.fest_main span{
    margin-left: 76px;
    line-height: 40px;
}
.fest_left{
    margin-top: 26px;
    margin-left: 23px;
    font-size: 14px;
    color: #9ca7ca;
    width: 108px;
    height: 150px;
}
.fest_left li{
    margin-bottom: 16px;
    float: left;
}
.fest_right{
    margin-top: 26px;
    /*margin-left: 14px;*/
    font-size: 14px;
    color: #9ca7ca;
    width: 70px;
    height: 150px;
}
.fest_right li{
    margin-bottom: 16px;
    float: left;
}
.imga3{
    height:262px;
    width: 215px; 

}
.bottom_left{
    width: 216px;
    height: 575px;
    position: relative;
    bottom: 387px;
    background: #1d1a23;
}
.bottom_left_img{
    width: 205px;
    height: 36px;
    background: url(../img/sprite.jpg) no-repeat -451px -273px;
    margin-left: 5px;
    margin-top: 5px;
}
.bottom_left_img span{
    margin-left: 52px;
    font-size: 16px;
    line-height: 36px;
    color: #9ca7ca;
    float: left;

}
.bottom_left_img2{
    width: 187px;
    height: 233px;
    margin-left: 4px;
    margin-top: 5px;
    background: url(../img/999.png) no-repeat;
}
.bottom_right{
    width: 784px;
    height: 400px;
    background: #1d1a23;
    position: relative;
    bottom: 787px;
    left: 216px;

}
.vedios{
    height: 352px;
    width: 323px;

}
.vedio1{
    width: 322px;
    height: 303px;
    border: 1px solid #524e5d;
    background: #26212d;
}
.mm1{
    margin-top: 22px;
    margin-left: 11px;
    width: 137px;
    height: 90px;
}
.mm2{
    margin-top: 22px;
    margin-left: 21px;  
    width: 137px;
    height: 90px; 
}
.bottom_box{
   width: 1000px;
   height: 250px;
   background:#1d1a23;
   position: relative;
   bottom: 787px;
}
.bot_img{
    background: url(../img/game_anc.jpg);
    height: 30px;
    width: 893px;
    margin-left: 57px;
}
.bot_img span{
    font-size: 16px;
    line-height: 30px;
    margin-left: 394px;
    color: #908c9b;
    float: left;
    margin-top: 7px;
}
.bot_text{
    margin-top: 21px;
    padding-bottom: 37px;
    color: #908c9b;
    font-size: 16px;
    margin-left: 64px;
}
.bot_text1{
    margin-bottom: 15px;
    text-align: center;
}
.bot_text2{
    text-align: center;
}
.contactme{
    width: 1000px;
    height: 100px;
}
.contentme_img{
    margin-left: 60px;

}