* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  clear: both;
  content: '';
  display: block; }

.clearfix {
  zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

ul, ol, li {
  list-style: none; }

i, a {
  text-decoration: none;
  font-style: normal; }

.inner {
  margin: 0 auto;
  width: 1202px; }

red {
  color: red; }

body {
  background: #fafafa; }

.header {
  height: 100px;
  width: 100%;
  background: white; }
  .header header {
    position: relative; }
    .header header img {
      width: 221px;
      height: 62px;
      position: absolute;
      top: 18px;
      left: 0; }

.regi_box {
  width: 1200px;
  height: 860px;
  border: 1px solid #e6e6e6;
  margin-top: 52px;
  margin-bottom: 118px;
  text-align: center;
  position: relative; }
  .regi_box p {
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 56px; }
  .regi_box .left_box {
    width: 106px;
    height: 720px;
    position: absolute;
    top: 121px;
    left: 287px; }
    .regi_box .left_box span {
      float: right;
      line-height: 40px;
      padding-bottom: 20px; }
  .regi_box .form_content {
    width: 390px;
    height: 696px;
    position: absolute;
    top: 121px;
    left: 406px; }
    .regi_box .form_content input[type="text"] {
      width: 365px;
      height: 40px;
      border: 1px solid #cccccc;
      background: #ffffff;
      line-height: 40px;
      font-size: 15px;
      margin-bottom: 20px;
      color: #cccccc;
      border-radius: 2px; }
    .regi_box .form_content input[type="password"] {
      width: 365px;
      height: 40px;
      border: 1px solid #cccccc;
      background: #ffffff;
      line-height: 40px;
      font-size: 15px;
      margin-bottom: 20px;
      color: #cccccc;
      border-radius: 2px; }
    .regi_box .form_content select {
      width: 365px;
      height: 40px;
      border: 1px solid #cccccc;
      background: #ffffff;
      line-height: 40px;
      font-size: 15px;
      margin-bottom: 15px;
      color: #cccccc;
      border-radius: 2px; }
    .regi_box .form_content #message_check {
      width: 174px;
      height: 40px;
      border: 1px solid #cccccc;
      background: #ffffff;
      line-height: 40px;
      font-size: 15px;
      margin-bottom: 20px;
      color: #cccccc;
      position: relative;
      left: -11px;
      border-radius: 2px; }
    .regi_box .form_content #message_button {
      width: 166px;
      height: 40px;
      border: 1px solid #cccccc;
      line-height: 40px;
      font-size: 15px;
      margin-bottom: 20px;
      color: black;
      position: relative;
      left: 11px;
      border-radius: 2px; }
    .regi_box .form_content #message_button:hover {
      cursor: pointer; }
    .regi_box .form_content #nume_check {
      width: 174px;
      height: 40px;
      border: 1px solid #cccccc;
      background: #ffffff;
      line-height: 40px;
      font-size: 15px;
      margin-bottom: 20px;
      color: #cccccc;
      position: relative;
      left: -23px;
      top: -15px;
      border-radius: 2px; }
    .regi_box .form_content .num_img {
      width: 96px;
      height: 38px;
      position: relative;
      left: -1px;
      top: 0px; }
    .regi_box .form_content .changeNumImg {
      font-size: 14px;
      color: #666666;
      position: relative;
      left: 0px;
      top: 0px; }
    .regi_box .form_content input[type="submit"] {
      width: 365px;
      height: 40px;
      border: 1px solid #2288f6;
      background: #2288f6;
      color: white;
      line-height: 40px;
      font-size: 15px;
      border-radius: 2px;
      position: relative;
      top: -16px; }
    .regi_box .form_content input[type="submit"]:hover {
      cursor: pointer; }
    .regi_box .form_content .protocol {
      font-size: 14px;
      display: block;
      position: relative;
      left: -106px;
      top: 0px; }
    .regi_box .form_content .loginNow {
      font-size: 14px;
      display: block;
      position: relative;
      left: 140px;
      top: -19px; }
    .regi_box .form_content span:hover {
      cursor: pointer;
      color: #2288f6; }
  .regi_box .errorM {
    width: 185px;
    height: 638px;
    position: absolute;
    top: 121px;
    left: 796px; }
  .regi_box .singleMessage {
    width: 180px;
    height: 40px;
    float: left;
    line-height: 40px;
    margin-bottom: 20px;
    position: relative; }
    .regi_box .singleMessage img {
      width: 16px;
      height: 16px;
      position: relative;
      left: -82px; }
    .regi_box .singleMessage img:nth-child(1) {
      display: none; }
    .regi_box .singleMessage img:nth-child(2) {
      display: none; }
    .regi_box .singleMessage span {
      display: none;
      font-size: 11px;
      position: absolute;
      top: 0px;
      left: 25px; }
  .regi_box .singleMessage:nth-child(5) {
    top: 3px; }
  .regi_box .singleMessage:nth-child(6) {
    top: 5px; }

footer {
  width: 1202px;
  height: 90px;
  background: whitesmoke;
  margin: 0 auto;
  text-align: center; }
  footer a {
    text-decoration: none;
    color: #606060; }
  footer .active {
    color: #2288f6; }
  footer a:hover {
    color: #2288f6; }
